<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--名称空间对应了Mapper类-->
<mapper namespace="com.lzy.demo.mybatis.mapper.OrderMapper">

    <select id="customPage" resultType="com.lzy.demo.mybatis.entity.Order">
        SELECT o.*,oo.name FROM `order` o inner join `order_other` oo on o.order_id = oo.order_id
        <where>
            <if test="order.userId!=null" >
                and o.user_id =#{order.userId}
            </if>
            <if test="order.orderId!=null">
                and o.order_id =#{order.orderId}
            </if>
        </where>
    </select>


    <select id="selectOrder" resultType="com.lzy.demo.mybatis.entity.Order">
        SELECT o.*,oo.name FROM `order` o inner join `order_other` oo on o.order_id = oo.order_id
        <where>
            <if test="userId!=null" >
                and o.user_id =#{userId}
            </if>
            <if test="userId!=null">
                and o.order_id =#{orderId}
            </if>
        </where>
    </select>
</mapper>